$salad: #c0da67;
$black: #141f2e;
$coffee: #76665c;
$chocolate: #81533e;
$white: #edeef0;
$yellow: #f4b824;
$asph: #5d5d5d;
$gray: #c3c3c4;
$skin: #b68567;
$orange: #e87f1a;
$red: #df3a52;
$green: #55a83a;
$blue: #2464a5;

$success-color: #2ecc71;
$error-color: #e74c3c;

.salad {
    color: $salad;
}

.black {
    color: $black;
}
.coffee {
    color: $coffee;
}
.chocolate {
    color: $chocolate;
}
.white {
    color: $white;
}
.yellow {
    color: $yellow;
}
.asph {
    color: $asph;
}
.gray {
    color: $gray;
}
.skin {
    color: $skin;
}
.orange {
    color: $orange;
}
.red {
    color: $red;
}
.green {
    color: $green;
}
.blue {
    color: $blue;
}
