$salad: #c0da67;
$black: #141f2e;
$coffee: #76665c;
$chocolate: #81533e;
$white: #edeef0;
$yellow: #f4b824;
$asph: #5d5d5d;
$gray: #c3c3c4;
$skin: #b68567;
$orange: #e87f1a;
$red: #df3a52;
$green: #55a83a;
$blue: #2464a5;
