.gears {
    background-color: #141f2e;
    // padding-top: 120px;
    &-wrap {
        //perspective: 600px;
        transition: transform 1s;
        transform-style: preserve-3d;
    }
    &_grids {
        display: grid;
        justify-content: center;
        // grid-template-columns: repeat(1, 267px);
        // grid-template-rows: repeat(1, 390px);
        grid-template-columns: repeat(auto-fill, 267px);
        grid-template-rows: repeat(auto-fill, 390px);
        gap: 30px;
        margin-top: 60px;
    }
    // &_flex {
    //     display: flex;
    //     overflow-x: scroll;
    // }
    &-item {
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 14.58%,
            rgba(56, 56, 56, 0.42) 100%
        );
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        &:hover {
            .gears-item-back {
                opacity: 0.9;
            }
        }
        &-back {
            background-image: url('img/coffgear.png');
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 60%;
            background: rgb(69, 59, 45);
            background: linear-gradient(
                180deg,
                rgba(69, 59, 45, 1) 0%,
                rgba(99, 89, 56, 0.4) 40%,
                rgba(30, 38, 49, 0.15) 100%
            );
            transition: 400ms;
            top: 10px;
            color: $white;
            display: flex;
            flex-direction: column;
            gap: 1px;
            font-size: 21px;
            //padding: 35px 0 0 30px;
            & > div {
                margin: 35px 0 0 30px;
            }
        }
    }
    &-pic {
        img {
            width: 95%;
            object-fit: contain;
        }
    }
    &-name {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        color: $white;
        text-align: center;
    }
    &-btn {
        margin-top: 15px;
        padding-bottom: 25px;
    }
}
