.btn {
    padding: 18px 52px;
    background: $red;
    border-radius: 35px;
    // /* Написать нам */
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: $white;
}
