.btn {
    border: 0;
    padding: 18px 52px;
    background: $red;
    border-radius: 35px;
    // /* Написать нам */
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: $white;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
    transition: 200ms;

    &:hover {
        background: darken($red, 10%);
    }

    a {
        text-decoration: none;
        color: $white;
    }

    &_info {
        background-color: $blue;
        padding: 10px 36px;
        border-radius: 37px;
        font-size: 16px;
    }

    &_order {
        margin-top: 70px;
    }

    &_blue-send {
        width: 100%;
        background-color: #2464a5;
        &:hover {
            background: darken(#2464a5, 10%);
        }
    }
}
